
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="ltr"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bahria 24 - Listings Bahria Town Lahore</title>
    <meta name="viewport" content="width=device-width">
    <meta name="google" content="notranslate">

    <meta name="description" content="Quickly search for places and their numbers for telephonic access.">
    <meta name="og:description" content="Quickly search for places and their numbers for telephonic access."/>
    <meta name="og:url" content="https://bahria24.com/search"/>
    <meta name="og:title" content="Bahria 24 Places"/>
    <meta name="og:image" content="https://raw.githubusercontent.com/bahria/bahria.github.io/master/img/fb.jpg"/>

    <link id="favicon" rel="shortcut icon" href="http://i.imgur.com/xaoEURU.png" type="image/x-png" />
    <link rel="shortcut icon" href="http://i.imgur.com/1Akob7B.png" sizes="48x48">
    <link rel="shortcut icon" href="http://i.imgur.com/uWgmag1.png" sizes="64x64">

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <style>
      html, body {
          height: 100%;
          margin: 0;
          overflow: hidden;
          padding: 0;
      }
    h2 {
  text-align: center;
}

.form-control {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

p {
  text-align: center;
  color: #AEAEAE;
}

.table {
  width: 600px !important;
  margin: 0 auto;
  margin-top: 40px;
}

.table tr th, td {
  text-align: center;
}
    
  </style>
</head>
<body>

   <div class="notes">
    
<p>The base is to just find no's at will. I often need info's to get the food delivered, or have any kind of number at disposal.</p>

    </div>


<div ng-app="myApp" ng-controller="namesCtrl">

<p>Filtering input:</p>

<p><input type="text" ng-model="test"></p>

<ul>
  <li ng-repeat="x in names | filter:test | orderBy:'country'">
    {{ (x.name | uppercase) + ', ' + x.country }}
  </li>
</ul>

</div>

<script src="http://www.w3schools.com/angular/namesController.js"></script>
</body>
</html>
