body {
    font-family: georgia, sans-serif;
    line-height: 1.88889;
    color: #555753;
    background-color: #efefef;
     margin: 0 0 100px;
     padding: 25px;
}

p {
    text-align: justify;
}

h4 {
    font-size: 2em;
    color: #036;
    margin: 0;
    padding-top: 5px;
    font-weight: normal
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #BA2228;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #D4CDDC;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}

header {
    background-color: rgb(240, 11, 63);
    height: 300px;
    border-top: 5px solid rgb(68,68,68);
}

.logo {
    margin-top: 80px;
    font-size: 100px;
    font-weight: 300;
    line-height: 120%;
    color: rgb(255,255,255);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(155,16,0,0.9);
}

.sub-logo {
    margin-top: 10px;
    color: black;
    line-height: 50px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.18);
}
.btn {
    color: #ffffff;
    background-color: #df691a;
    border-color: transparent;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1.42857143;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: orange;
}

.aws-section {
    background: #515d81 url(/assets/modules/aws/aws-bg-80b292690ba587b305c2c038c496ffc8ff08d3bf6be6c1ba64d48bedc09cc36f.jpg) no-repeat 

center top;
    background-size: cover;
    overflow: hidden;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.aws-section .container {
    position: relative;
}

.aws-section .content {
    position: relative;
    z-index: 9;
    padding: 80px 0;
    color: #fff;
    text-align: center;
}

.aws-section h2 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}

.aws-section p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
}

.aws-section .aws-button {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    color: #fff;
    text-shadow: none;
    border: 1px solid #fff;
    border-radius: 5px;
}

.aws-section .aws-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #2a2b55;
    border-color: #2a2b55;
}

.aws-section .bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aws-section .cloud {
    position: absolute;
}

.aws-section .cloud-1 {
    top: 10px;
    right: 20px;
    -webkit-animation: cloud1animation 6s ease-out 1s;
    animation: cloud1animation 6s ease-out 1s;
}

.aws-section .cloud-2 {
    top: 10px;
    left: -60px;
    -webkit-animation: cloud2animation 6s ease-out 1s;
    animation: cloud2animation 6s ease-out 1s;
}

.aws-section .cloud-3 {
    bottom: 50px;
    right: -255px;
    -webkit-animation: cloud3animation 14s ease-out 1s;
    animation: cloud3animation 14s ease-out 1s;
}

.aws-section .cloud-4 {
    bottom: -96px;
    left: -470px;
    -webkit-animation: cloud4animation 9s ease-out 1s;
    animation: cloud4animation 9s ease-out 1s;
}

.aws-section .cloud-5 {
    bottom: -120px;
    right: -160px;
    -webkit-animation: cloud5animation 14s ease-out 1s;
    animation: cloud5animation 14s ease-out 1s;
}

.aws-section .cloud-6 {
    bottom: -100px;
    right: -600px;
    -webkit-animation: cloud6animation 8s ease-out 1s;
    animation: cloud6animation 8s ease-out 1s;
}

@-webkit-keyframes cloud1animation {
    0% {
        -webkit-transform: translateX(-70px);
        transform: translateX(-70px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@keyframes cloud1animation {
    0% {
        -webkit-transform: translateX(-70px);
        transform: translateX(-70px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@-webkit-keyframes cloud2animation {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@keyframes cloud2animation {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@-webkit-keyframes cloud3animation {
    0% {
        -webkit-transform: translateX(-150px);
        transform: translateX(-150px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@keyframes cloud3animation {
    0% {
        -webkit-transform: translateX(-150px);
        transform: translateX(-150px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@-webkit-keyframes cloud4animation {
    0% {
        -webkit-transform: translateX(125px);
        transform: translateX(125px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@keyframes cloud4animation {
    0% {
        -webkit-transform: translateX(125px);
        transform: translateX(125px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@-webkit-keyframes cloud5animation {
    0% {
        -webkit-transform: translateX(-80px);
        transform: translateX(-80px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@keyframes cloud5animation {
    0% {
        -webkit-transform: translateX(-80px);
        transform: translateX(-80px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@-webkit-keyframes cloud6animation {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}

@keyframes cloud6animation {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    };
}
