body {
    font-family: georgia, sans-serif;
    line-height: 1.88889;
    color: #555753;
    background-color: #efefef;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    text-align: justify;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #BA2228;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #D4CDDC;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}

header {
    background-color: rgb(240, 11, 63);
    height: 300px;
    border-top: 5px solid rgb(68,68,68);
}

.logo {
    margin-top: 80px;
    font-size: 100px;
    font-weight: 300;
    line-height: 120%;
    color: rgb(255,255,255);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(155,16,0,0.9);
}

.sub-logo {
    margin-top: 10px;
    color: black;
    line-height: 50px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.18);
}

